[submodule "submodules/spiritless_po"]
	path = submodules/spiritless_po
	url = https://github.com/oo13/spiritless_po.git
[submodule "submodules/doctest"]
	path = submodules/doctest
	url = https://github.com/doctest/doctest.git
[submodule "submodules/nlohmann"]
	path = submodules/nlohmann
	url = https://github.com/nlohmann/json.git
